@media (max-width: 989px) {
    nav #icon {
        display: block;
    }
  nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      text-align: center;
      margin-top: -22px;
      transition: all .5s ;
      left: -100%;
  }
  nav li{
      display: block;
  }
   nav ul.show{
   left: 0;
   }
   label.logo{
       display: none;
   }
   h1.newlogo{
       display: block;
      padding-left: 37%;
      font-size: 7vh;
      margin-top: 2vh;
   }
  
  button.btn{
      display: none;
  }
  
  div.icon2{
      display: block;
      color: orangered;
      float: right;
      padding-right: 3vh;
      /* margin-bottom: 2vh; */
      margin-top: -5vh;
  }
  div.head{
      padding-left: 30px;
      margin-top: 53px;
      font-size: 20px;
  }
  div.img {
    margin-top: -552px;
    margin-left: -111px;
  }
  div.border3 {
    width: 133px;
    height: 166px;
    padding-left: -24px;
    margin-left: 147px;
    margin-top: 62px;
    background: white;
    border-radius: 17px;
    box-shadow: 0px 6px 0px 0px rgb(211 210 210);
}
div.border4 {
    width: 133px;
    height: 166px;
    padding-left: -24px;
    margin-left: 324px;
    margin-top: -166px;
    background: white;
    border-radius: 17px;
    box-shadow: 0px 6px 0px 0px rgb(211 210 210);
}
div.border5{
    display: none;
}
p.text{
    line-height: 1.4;
    color: grey;
    padding-left: 43px;
    margin-top: 480px;
}
hr {
    margin-left: 47px;


    width: 53px;
    /* margin-left: 719px; */
    margin-top: 20px;
    border-color: orangered;
}